body {
  margin: 0;
  padding: 0;
  background:
	linear-gradient(to right, rgb(192, 192, 192), rgb(81, 32, 78));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  cursor: pointer;
}

.backg {
	background: 
		linear-gradient(to right, rgb(253, 147, 147), rgb(21, 7, 150));
}