body {
  margin: 0;
  padding: 0;
  background:
	linear-gradient(to right, rgb(255, 179, 250), rgb(5, 9, 133));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  cursor: pointer;
}

.backg {
	background: 
	linear-gradient(to right, rgb(255, 179, 250), rgb(5, 9, 133));
}