body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(255, 255, 0), rgb(51, 64, 174));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  cursor: pointer;
}

.backg {
	background: linear-gradient(to right, rgb(106, 0, 53), rgb(0, 132, 132));
}